.lemail {
    width: 40%;
    height: auto;
    padding: 10px;
}
.lpassword {
    width: 40%;
    height: auto;
    padding: 10px;
}
.lcheckbox {
    width: 40%;
    height: auto;
    padding: 10px;
}
.Logininput {
    color:black;
}
