.forminput {
    text-align:center;
    width: 100%;
    height: 100%;
    padding: 10px;
    border-style:dotted;
    
}
.email {
    width: 40%;
    height: auto;
    padding: 10px;
}
.name {
    width: 40%;
    height: auto;
    padding: 10px;
}
.message {
    width: 50%;
    height: 100px;
    padding: 50px;
}
.btn {
    background-color: aqua;
}
